%form-reset {
  text-decoration: none;
  @include appearance(none);
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: 0;
}

input:not([type='checkbox']),
textarea,
select,
button {
  @extend %form-reset;
}

input[type='text'],
input[type='email'] {
  background: $light-white;
  padding: $half-gutter * 0.5;
  font-family: $sans;
  font-size: $type-paragraph;
}

%sg-button {
  @extend %aa-text;
  cursor: pointer;
  font-family: $sans;
  font-size: $type-paragraph;
  color: $white;
  font-weight: $type-bold;
  background-color: $mid-black;
  padding: 1.25rem 6rem 1.15rem;
  transition: background-color $hover-out $ease-out-cubic;
  transition: all $hover-out $ease-out-cubic;
  &:hover {
    background-color: $dark-black;
    transition: all $hover-in $ease-out-cubic;
  }
  &:disabled {
    cursor: not-allowed;
    background: $dark-grey;
  }
  .quote-loading & {
    cursor: wait;
  }
}

*[class*="button"],
input[type='submit'],
button {
  @extend %sg-button;
}