%form-reset {
  text-decoration: none;
  @include appearance(none);
  border: 0;
  border-radius: 0;
  background: transparent;
  outline: 0;
}

input[type='text'],
input[type='email'],
input[type='submit'],
textarea,
select,
button {
  @extend %form-reset;
}

label {
  display: block;
  @extend %sg-h6;
  margin-bottom: $vertical-bumper-eighth;
  input[type='checkbox'] + & {
    display: inline-block;
    margin-bottom: 0;
    margin-left: $vertical-bumper-eighth;
    cursor: pointer;
  }
}

input[type='checkbox'] {
  margin-bottom: $vertical-bumper-quarter;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'] {
  background: $light-white;
  padding: $half-gutter * 0.5;
  font-family: $sans;
  font-size: $type-paragraph;
  margin-bottom: $vertical-bumper-quarter;
  border: $border-width solid $light-white;
  transition: all $hover-out $ease-out-cubic;
  &:focus {
    background: transparent;
    border: $border-black;
  }
}

%sg-button {
  @extend %aa-text;
  cursor: pointer;
  font-family: $sans;
  font-size: $type-small;
  color: $white;
  font-weight: $type-bold;
  text-transform: uppercase;
  background-color: $mid-black;
  padding: 0.65rem 3rem 0.65rem;
  transition: background-color $hover-out $ease-out-cubic;
  transition: all $hover-out $ease-out-cubic;
  &:hover {
    background-color: $dark-black;
    transition: all $hover-in $ease-out-cubic;
  }
  &:disabled {
    cursor: not-allowed;
    background: $dark-grey;
  }
  .quote-loading & {
    cursor: wait;
  }
  &.cta {
    padding: 1.25rem 6rem 1.15rem;
  }
}

.form-helper {
  @extend %sg-h6;
  color: $text-mid-grey;
  margin-top: $vertical-bumper-eighth;
  .form-error & {
    color: $red;
  }
}

*[class*="button"],
input[type='submit'],
button {
  @extend %sg-button;
}