#rsvp {
  .wrapper > .row > div {
    &:not(:last-of-type) {
      @include media($small) {
        margin-bottom: $vertical-bumper-half;
      }
    }
  }

  input[type='text'],
  input[type='email'],
  input[type='number'] {
    width: 100%;
  }

  input[type='submit'] {
    @include media($small) {
      width: 100%;
    }
  }
}